body{background-color:rgb(194, 241, 195) ;}
.a{width: 100%; background-color: rgb(241, 194, 213); border: 2px; border-radius: 15px;text-align: center;font-family:"Arial";}
.b{width: 100%; background-color: rgb(194, 240, 241); border: 2px; border-radius: 15px;text-align: center;font-family:"Arial";}
.c{width: 100%; background-color: rgb(241, 232, 194); border: 2px; border-radius: 15px;text-align: center;font-family:"Arial";}
.f{width: 100%; background-color: rgb(210, 194, 241); border: 2px; border-radius: 15px;text-align: center;font-family:"Arial";}