body{background-color: rgb(0, 0, 0);}
.a{color: #000;background-color: rgb(203, 67, 67);border: 2px; border-radius: 15px;text-align: center;font-family:"Arial";}
.b{color: #000;background-color: rgb(81, 27, 27);border: 2px; border-radius: 15px;text-align: center;font-family:"Arial";}